<ion-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text>
            {{active?'La linterna esta activada':'La linterna esta apagada'}}
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-toggle [checked]="" (ionChange)="flash()"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-button color="primary" expand="full" (click)="getDeviceInfo()">Info dispositivo</ion-button>
    <ion-list *ngIf="bandera">
      <ion-item *ngIf="cordovaVersion">
        <ion-text >Cordova version: {{cordovaVersion}}</ion-text>
      </ion-item>
      <ion-item *ngIf="model">
        <ion-text>Modelo: {{model}}</ion-text>
      </ion-item>
      <ion-item *ngIf="platform">
        <ion-text>Plataforma: {{platform}}</ion-text>
      </ion-item>
      <ion-item *ngIf="uuid">
        <ion-text>UUID: {{uuid}}</ion-text>
      </ion-item>
      <ion-item *ngIf="platformVersion">
        <ion-text>Version de plataforma: {{platformVersion}}</ion-text>
      </ion-item>
      <ion-item *ngIf="manufacturer">
        <ion-text>Manofactura: {{manufacturer}}</ion-text>
      </ion-item>
      <ion-item *ngIf="isVirtual">
        <ion-text>Virtual: {{isVirtual}}</ion-text>
      </ion-item>
      <ion-item *ngIf="serialNo">
        <ion-text>No. Serial: {{serialNo}}</ion-text>
      </ion-item>  
    </ion-list>

    <ion-button expand="full" (click)="vibrar()">Vibrar</ion-button>

</ion-content>